/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$nav-height: 1em;
$nav-color: red;

.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}


/*----------------------
 $NAVBAR
 basic navbar styling
 ----------------------*/

nav {
  width: 100%;
  color: $nav-color;
  font-weight: bold;
  letter-spacing: 0.025em;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
}

a {
  color: mediumpurple;
}


/*----------------------
 $BODY
 ----------------------*/

body {
  background: white;
}

/*----------------------
 $MISC
 ----------------------*/

.filler {
  width: 1px;
  height: 200px;
}

.two {
  height: 30px;
}
